@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

* {
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: #1f2937;
    font-size: 24px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.right-links {
    display: flex;
    gap: 20px;
}