/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i'); */

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Times New Roman', Times, serif;
}
#header {
    background-color: #1f2937;
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
}

#header a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
}
#header .header-logo {
    font-size: 24px;
    color: aqua;
}


.right-links {
    display: flex;
    gap: 20px;
}
.box-2 {
    display: flex;
    background-color: #1f2937;
    padding: 50px 200px;
    gap: 20px;
}
.right-stuff {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 50%;
    gap: 20px;
}
.img-box {
    max-width: 50%;
    height: auto;
    display: flex;
    flex: none;
}
.box-2 img {
    width: 100%;
    border-radius: 10px;
}
.hero-main-text {
    font: 900;
    color: #f9faf8;
    font-size: 48px;
    margin: 0px;
}
.hero-sec-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px;
}
button {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 5px 25px;
    color: #eee;
    font-size: large;
}



.img-box-1, 
.img-box-2,
.img-box-3,
.img-box-4 {
    display: flex;
    width: 200px;
    max-height: 200px;
    flex-direction: column;
    flex: 1;

}

 .box-3 img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border: blue 3px solid;
    border-radius: 10px;
    flex: none;
}
.box-3 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0px 300px;
    overflow: auto;
}

div .fact-img {
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
}

.box-3 .header-text {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}
.text {
    text-align: center;
}



.box-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 50px 300px;
}

.box-4 p {
    margin: 0;
    }
.box-4 .quote-origin {
    margin-left: auto;
    margin-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-style: normal;
}



.box-5 {
    background-color: #f9faf8;
    padding: 50px 200px;
}
.blue-info-box {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px
}


.box-5 button {
    border: #f9faf8 2px solid;
}

.blue-info-box p {
    margin: 0;
}

#footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 10px;
}